body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.Html5Corner {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #e2e2e2; 
  width:80px;
}

.Html5Corner:hover { 
    background-color: white;
    width:150px;
    transition:  background-color  0.5s, 
                 width  0.5s ease-in-out, 
                 height 0.5s ease-out; 
}
.bookEditTitre{
    width : 50%;
    margin-bottom:30px;
    text-align : center;
}

footer {
 margin-left:15px;
  margin-right:15px;
}


