<!-- partie principale -->
<div class="row">
    <section class="row well col-md-10">
        <header>

            <div>
                <h4>
                    Admin Books<small>({{books.length}} books)</small>

                </h4>
                <p class="col-md-8">
                    <input class="form-control" type="text" ng-model="search" placeholder="search">
                </p>
                <button class="btn btn-success btn-sm pull-right" data-toggle="modal" data-target="#myModal">
                    Add Book
                </button>

            </div>

        </header>



        <div class="row col-md-8">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th><a title="Click to sort" href="#/" ng-click="tri = 'Title'; reverse = !reverse">Title</a></th>
                        <th><a title="Click to sort" href="#/" ng-click="tri = 'AuthorName'; reverse = !reverse">Author</a></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="book in books | orderBy:tri:reverse | filter : search">
                        <td>{{book.Title}}</td>
                        <td>{{book.AuthorName}}</td>
                        <td>
                            <button ng-click="deleteBook(book)" class="pull-right btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i></button>
                            <a class="btn btn-info btn-xs pull-right" data-toggle="modal" data-target="#myModal2" href="#/books/{{book.Id}}"><i class="glyphicon glyphicon-edit"></i></a>
                        </td>

                    </tr>
                </tbody>

            </table>
        </div>




        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" ng-controller="bookAddFormController">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            Add a new book
                        </h4>

                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" novalidate name="bookForm">
                            <div class="form-group" ng-class="{error : !bookForm.$pristine && bookForm.inputTitle.$error.required}">
                                <label class="col-md-2 control-label">Title :</label>
                                <input type="text" class="form-control" name="inputTitle" ng-model="book.Title" required>
                                <span class="col-md-offset-2  text-danger" ng-show="!bookForm.$pristine && bookForm.inputTitle.$error.required">The Title is required</span>
                            </div>
                            <div class="form-group" ng-class="{error : bookForm.inputYear.$error.pattern}">
                                <label class="col-md-2 control-label">Year :</label>
                                <input required type="number" class="form-control" name="inputYear" ng-model="book.Year" ng-pattern="/(19|20)\d\d/">
                                <span class="col-md-offset-2  text-danger" ng-show="bookForm.inputYear.$error.pattern">The year is not valid</span>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Author : </label>
                                <select required class="form-control" ng-options="author.Name for author in authors track by author.Id" ng-model="book.Author" />

                            </div>
                            <div class="form-group" ng-class="{error : bookForm.inputPrice.$error.min || bookForm.inputPrice.$error.max}">
                                <label class="col-md-2 control-label">Price :</label>
                                <input required type="number" class="form-control" name="inputPrice" ng-model="book.Price" min="1" max="200">
                                <span class="col-md-offset-2  text-danger" ng-show="bookForm.inputPrice.$error.min">The price should be greater or equal to 1</span>
                                <span class="col-md-offset-2  text-danger" ng-show="bookForm.inputPrice.$error.max">The price should be less than 200</span>
                            </div>
                            <div class="form-group" ng-class="{error : bookForm.inputGenre.$error.maxlength}">
                                <label class="col-md-2 control-label">Genre :</label>
                                <input required type="text" name="inputGenre" class="form-control" ng-model="book.Genre" ng-maxlength="140">
                                <span class="col-md-offset-2  text-danger" ng-show="bookForm.inputGenre.$error.maxlength">140 maximum</span>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-danger btn-small">Cancel</button>
                        <button data-dismiss="modal" class="btn btn-success" ng-click="addBook(book)" ng-disabled="bookForm.$invalid">Add</button>
                    </div>

                </div>
            </div>
        </div>



    </section>
</div>
