<!-- partie principale -->
<section class="container">

    <header class="page-header">
        <h1>
            My books Store <small>({{books.length}} books)</small>
            <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal">
                Add Book
            </button>
        </h1>
        <section class="row col-md-8">
            <input class="form-control" type="text" ng-model="search" placeholder="search">
            <section class="pull-right">
                <button class="btn btn-warning btn-sm" ng-click="tri = 'Title'; reverse = !reverse">Order by  Title</button>
                <button class="btn btn-warning btn-sm" ng-click="tri = 'AuthorName'; reverse = !reverse">Order by author</button>
            </section>
        </section>
        
    </header>
 
    <div class="row col-md-8">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Book Title</th>
                    <th>Author</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="book in books | orderBy:tri:reverse | filter : search">
                    <td>{{book.Title}}</td>
                    <td>{{book.AuthorName}}</td>
                    <td><a class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal2" href="#/books/{{book.Id}}"><i class="glyphicon glyphicon-edit"></i></a></td>
                    <td><button ng-click="deleteBook(book)" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove"></i></button></td>
                </tr>
            </tbody>

        </table>
    </div>
   
   


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" ng-controller="bookAddFormController">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Add a new book
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Title :</label>
                            <input type="text" class="form-control" ng-model="book.Title">
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Year :</label>
                            <input type="text" class="form-control" ng-model="book.Year">
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Author : </label>
                            <select class="form-control" ng-options="author.Name for author in authors track by author.Id" ng-model="book.Author" />
                            
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Price :</label>
                            <input type="text" class="form-control" ng-model="book.Price">
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Genre :</label>
                            <input type="text" class="form-control" ng-model="book.Genre">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-danger btn-small">Cancel</button>
                    <button data-dismiss="modal" class="btn btn-success" ng-click="addBook(book)">Add</button>
                </div>

            </div>
        </div>
    </div>



</section>