<div class="row">
    <div class="col-md-6">

        <h4 class="bookEditTitre">
            Editing book
        </h4>


        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2 control-label">Title :</label>
                <input type="text" class="form-control" ng-model="book.Title">
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Year :</label>
                <input type="text" class="form-control" ng-model="book.Year">
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Author : </label>
                <select class="form-control" ng-options="author.Name for author in authors track by author.Id" ng-model="author" />

            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Price :</label>
                <input type="text" class="form-control" ng-model="book.Price">
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Genre :</label>
                <input type="text" class="form-control" ng-model="book.Genre">
            </div>


        </form>

        <div class="modal-footer row col-md-6">
            <a href="#/books" class="btn btn-danger btn-small">Cancel</a>
            <button class="btn btn-success" ng-click="updateBook(book.Id,book)">Update</button>
        </div>


    </div>
</div>
